@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap');
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e3f1ff;
    font-family: "Arial", Helvetica, sans-serif;
}

.navigation ul {
    list-style: none;
    text-align: right;
}

.navigation li {
    padding: 0rem 0.25rem;
    display: inline;
}

.navigation {
    padding-top: 2rem;
    color: rgb(255, 255, 255);
    background-color: #051725;
    padding: 0.25rem;
    font-weight: bold;
    border-bottom-left-radius: -2rem;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation li a:hover {
    color: black;
    font-weight: bold;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: fantasy;
}

.navigation .link-active {
    font-weight: bold;
}

.image-container {
    padding: 1.5rem;
}

.image-container .image {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 200px;
    display: block;
    margin: auto;
    border: 5px solid hsl(210, 100%, 99%);
    border-radius: 20px;
}

.heading {
    text-align: center;
    padding-top: 0 rem;
    font-size: 2rem;
}

.heading h3 {
    font-size: 3rem;
}

.heading p {
    font-size: 1rem;
}

.about-me-title:after {
    left: .5em;
    margin-right: -50%;
}

.about-me-title:before {
    right: .5em;
    margin-left: -50%;
}

.about-me-title:after,
.about-me-title:before {
    background-color: #667eea;
    content: "";
    display: inline-block;
    height: 3px;
    width: 10%;
    position: relative;
    vertical-align: middle;
}

.two {
    padding-top: 1rem;
    background-color: #89bff8;
    color: white;
    text-align: center;
    padding-bottom: 1.5rem;
}

.skills {
    color: black;
}

.two h4 {
    color: black;
    padding: 0 0.5rem;
}

.projects {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.projects img {
    padding-top: 1rem;
    max-width: 350px;
    display: block;
    margin: auto;
}

.projects h2 {
    font-size: 1.7rem;
}

.projects h1 {
    padding-top: 1rem;
}

.projects p {
    font-size: 1.1rem;
    color: #BE185D;
}

.projects button,
.blogs button {
    background: #0051a2;
    color: whitesmoke;
    font-size: 1rem;
    border: 0;
    padding: 0.9rem;
    cursor: pointer;
    padding-bottom: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

.blogs {
    padding-top: 1rem;
    background-color: #89bff8;
    text-align: center;
    padding-bottom: 1.5rem;
}

.blogs p {
    color: black;
    font-style: italic;
    padding: 1rem;
}

footer {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

footer ul {
    list-style: none;
    padding-inline-start: 0px;
}

footer ul li {
    display: inline;
    padding-right: 2px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-inline-start: 0px;
    margin: auto;
}

